<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Formulário HTML</title>
</head>
<body>
    <form action="/processar" method="post">
        <label for="nome">Nome da Empresa:</label><br>
        <input type="text" id="nome" name="nome"><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="tipo">Tipo da Sua Empresa</label><br>
        <input type="text" id="tipo" name="tipo">

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
